.header {
  width: 100%;
  height: 60px;
  border: 1px solid #cccbcb;
  box-shadow: 1px 2px #eeeeee;
  display: flex;
}
.user-info {
  display: flex;
  height: 60px;
  width: 60px;
  position: relative;
}
.user-avatar {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 5px;
  margin-top: 10px;
}
