.card-weather {
  width: 200px;
  height: 100px;
  border: 1px solid #cccbcb;
  box-shadow: 1px 2px #eeeeee;
  margin: 10px;
  padding: 5px;
  display: flex;
}
.cards-container {
  display: flex;
}
.icon-weather {
  width: 50px;
  height: 50px;
}
.temperature-container{
    border: 1px solid #cccbcb;
}
